<div class="form-group">
  <label for="username">Username</label>
  <input
    required
    type="text"
    name="username"
    id="username"
    class="form-control"
  />
</div>
<div class="form-group">
  <label for="password">Password</label>
  <input
    required
    type="password"
    name="password"
    id="password"
    class="form-control"
  />
</div>

<input type="checkbox" onclick="showPassword()" />&nbsp;Show password<br /><br />

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Submit</button>

<script>
  /* This function is used on the forms that require password (Log in and Sign up)*/
  function showPassword() {
    var fieldInput = document.getElementById("password");
    if (fieldInput.type === "password") {
      fieldInput.type = "text";
    } else {
      fieldInput.type = "password";
    }
  }
</script>
