<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!--Import bootstrap.css-->
    <link href="/src/css/bootstrap.min.css" rel="stylesheet" />

    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Let browser know website is optimized for mobile-->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>angler | <%= user.username %>'s blog</title>
  </head>
  <body>
    <div class="container">
      <div class="row align-items-start justify-content-center">
        <div class="col">
          <h1 class="mb-10">angler</h1>
        </div>
      </div>
      <h2 class="mb-4"><%= user.username %>'s blog</h2>
      <div class="float-sm-right">
        <a href="/posts/index" class="btn btn-secondary mt-4">Public posts</a>
        <a href="/users/profile" class="btn btn-success mt-4">My blog</a>
      </div>

      <br />
      <br />

      <!--This page will contain a certain user's posts.
        Iterate through the blog posts sent from users.js:-->
      <% blogPosts.forEach(post => { %>
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title"><%= post.author %></h5>

          <div class="card-subtitle text-muted mb-2">
            <%= post.timeStamp.toUTCString() %>
          </div>
          <div class="card-text mb-2">
            <%= post.content %>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    <script src="/src/js/jquery.js"></script>
    <script src="/src/js/bootstrap.min.js"></script>
  </body>
</html>
