<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!--Import bootstrap.css-->
    <link href="/src/css/bootstrap.min.css" rel="stylesheet" />

    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Let browser know website is optimized for mobile-->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>angler | Settings</title>
  </head>

  <body>
    <div class="container">
      <h1 class="mb-4">Settings</h1>
      <p>
        At the moment your blog is visible to the user group:
        <b><%= user.visibleTo %></b>. You can change this choice in your
        Settings below!
      </p>

      <form action="/users/<%= user.urlSlug %>?_method=PUT" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            required
            disabled
            value="<%= user.username %>"
            type="text"
            name="username"
            id="username"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="password">New password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            minlength="3"
          />
        </div>

        <input type="checkbox" onclick="showPassword()" />&nbsp;Show password<br /><br />

        <div class="form-group">
          <label for="visibleTo">My blog should be visible to: &nbsp;</label>
          <select
            id="visibleTo"
            name="visibleTo"
            onchange="showSpecifiedSelection(this)"
          >
            <option value="" selected="selected"></option>
            <option value="all">All users</option>
            <option value="registered">Registered users</option>
            ><option value="specified">Specified users</option>
            <option value="me">Only me</option>
          </select>
        </div>

        <div class="form-group" id="permittedUsers" style="display: none;">
          <label for="permittedUsers"
            >This user is allowed to view my blog:
          </label>
          <select id="permittedUser" name="permittedUser">
            <option value="" selected="selected"></option>
            <% blogUsers.forEach(blogUser => { %>
            <option value="<%= blogUser.username %>"
              ><%= blogUser.username %></option
            >

            <% }) %>
          </select>
        </div>

        <a href="/users/profile" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>

        <script>
          /* This function is used on the forms that require password (Log in and Sign up)*/
          function showPassword() {
            var fieldInput = document.getElementById("password");
            if (fieldInput.type === "password") {
              fieldInput.type = "text";
            } else {
              fieldInput.type = "password";
            }
          }

          function showSpecifiedSelection(visibilitySelection) {
            const selectedValue =
              visibilitySelection.options[visibilitySelection.selectedIndex]
                .value;
            var permittedChoice = document.getElementById("permittedUsers");
            if (selectedValue === "specified") {
              permittedChoice.setAttribute("style", "display: block");
            }
          }
        </script>
      </form>
    </div>
    <script src="/src/js/jquery.js"></script>
    <script src="/src/js/bootstrap.min.js"></script>
  </body>
</html>
